@import url('main.css');

nav{
    background-color: var(--nav);
    color: var(--text);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color:aqua;
}
nav img{
    width: 2rem;
    margin: 0 1rem;
}

nav:hover{
    background-color: rgb(80, 76, 76);
}
nav a{
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

nav a:hover{
    letter-spacing: .5rem;
    color: rgb(17, 1, 1);
    text-shadow: 0 0 5px white;
}

section{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: 4rem auto;
    text-align: center;
}
section a{
    width: 5rem;
    margin: .5rem auto;
}
h2 {
    color: aqua;
}

button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(64, 15, 179);
    color: rgb(241, 240, 243);
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    margin: 0 auto;
    transition: 0.2s all;
}

button:hover {
    transform: scale(1.08);
}